 <div class="container">

      <div class="page-header">
        <h2>My Trips</h2>
      </div>
    <div class="row container">
      <h2> Trips
      <a href="/trips/new" class="btn btn-warning pull-right">Enter New Trip</a>
      </h2>
    </div>

      <div class="row table-responsive container">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Location</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>

          <% @trip_list.each do |trip| %>

            <tr>
              <td><%= trip.id %></td>
              <td><%= trip.trip_name %></td>
              <td><%= trip.location %></td>
              <td><%= trip.start_date %></td>
              <td><%= trip.end_date %></td>

              <td><%= link_to "Edit", "/trips/#{trip.id}/edit" %> | <%= link_to "Delete", "/trips/#{trip.id}/delete" %> | <%= link_to "Expenses", "/expenses" %> | <%= link_to "Map", "/map/#{trip.id}" %></td>
            </tr>
          <% end %>


          </tbody>
        </table>

      </div>
    </div>
