 <div class="container">

      <div class="page-header">
        <h2>Wonjun's Bachelor Party</h2>
        <h4>4/3/2014 ~ 4/5/2014</h4>
      </div>
    <div class="row container">
      <h2> Expenses
      <a href="/expenses/new" class="btn btn-warning pull-right">Enter New Expense</a>
      </h2>
    </div>

      <div class="row table-responsive container">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Comments</th>
<!--               <th>Who Paid</th>
              <th>You Owe</th> -->
              <th>Options</th>
            </tr>
          </thead>
          <tbody>

          <% @expense_list.each do |expense| %>

            <tr>
              <td><%= expense.id %></td>
              <td><%= expense.description %></td>
              <td>$ <%= expense.amount %></td>
              <td><%= expense.comment %></td>
<!--               <td></td>
              <td> </td> -->
              <td><%= link_to "Edit", "/expenses/#{expense.id}/edit" %> | <%= link_to "Delete", "/expenses/#{expense.id}/delete" %></td>
            </tr>
          <% end %>


          </thead>
        </table>
        <p>
          <h4 align="right" class="col-md-12">Total Amount Due $80.00</h4>
        </p>
      </div>
    </div>
