<div class="container">

      <div class="page-header">
        <h2>All Expenses</h2>
      </div>
  <% @trip_list.each do |trip| %>

    <div class="row container">
      <h2> <%= trip.trip_name %>
      <a href="/expenses/new/<%= trip.id %>" class="btn btn-warning pull-right">Enter New Expense</a>
      </h2>
      <h4><%= trip.start_date %> to <%= trip.end_date %></h4>
    </div>

      <div class="row table-responsive container">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Comments</th>
<!--               <th>Who Paid</th>
              <th>You Owe</th> -->
              <th>Options</th>
            </tr>
          </thead>
          <tbody>

          <% @expense_list.where(:fortrip => trip.id).each do |expense| %>
            <tr>
              <td><%= expense.id %></td>
              <td><%= expense.description %></td>
              <td>$ <%= expense.amount %></td>
              <td><%= expense.comment %></td>
<!--               <td></td>
              <td> </td> -->
              <td><%= link_to "Edit", "/expenses/#{expense.id}/edit" %> | <%= link_to "Delete", "/expenses/#{expense.id}/delete" %></td>
            </tr>
          <% end %>

          </thead>
        </table>
        <p>
          <h4 align="right" class="col-md-12">Total Amount Due $<%= @expense_list.where(:fortrip =>trip.id).sum(:amount).round(2) %></h4>
        </p>
      </div>

  <% end %>

</div>
