<!DOCTYPE html>
<html>


<head>
  <title>Trave.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>
  <script src="http://bootswatch.com/assets/js/bsa.js"></script>
      <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Trave.ly</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
           <% user = User.find_by(:id => session[:user_id]) %>
            <% if user.present? %>
              <li><a href="/trips">My Trips</a></li>
              <li><a href="/expenses">Expenses</a></li>
              <li><a href="/flights">Flights</a></li>
              <li><a href="">Hotels</a></li>
            <% end %>

            <li><a href="/index">Resources</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <% if user.present? %>
              <li class ="navbar-text">Hi, <%= user.name %></li>
            <% else %>
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/login">Sign In</a></li>
            <% end %>

            <% if user.present? %>
              <li><a href="/users/<%= user.id %>/show">My Profile</a></li>
              <li><a href="/logout">Sign Out</a></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
<!-- remove container here if you want picture to expand -->
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
